@use 'sass:map';
@use 'sass:meta';
@use 'sass:list';
@use 'sass:string';
@use '../abstracts';

@function dynamic($stringMatch) {
    $abstracts: meta.module-variables('abstracts');
    $variables: ();

    @for $index from 1 through list.length(map.keys($abstracts)) {
        $label: list.nth(map.keys($abstracts), $index);

        @if string.index($label, $stringMatch) {
            $variables: list.join($variables, map.get($abstracts, $label));
        }
    }

    @return $variables;
}