{
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended",
        "eslint-config-airbnb-base"
	],
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jest": true
	},
	"rules": {
		"max-len": 0,
		"linebreak-style": [0],
		"no-trailing-spaces": 0,
		"indent": "off",
        "vue/html-indent": "off",
        "vue/html-self-closing": "off",
        "vue/no-v-html": "off",
        "no-param-reassign": "off",
        "consistent-return": "off",
        "dot-notation": "off",
        "global-require": "off",
        "import/no-dynamic-require": "off",
        "no-plusplus": "off",
        "no-restricted-globals": "off",
        "no-confusing-arrow": "off",
        "no-console": "off",
        "import/no-unresolved": "off",
        "arrow-parens": "off"
	}
}