@use 'sass:color';
@use '../_abstracts.scss' as *;

.accordion {
    text-align: left;

    box-sizing: border-box;
    background-color: $pickled-bluewood;
    overflow: hidden;
    width: 100%;
    border-radius: 1rem;
    outline: none;
    
    box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem color.adjust(black, $alpha: -0.8);

    cursor: pointer;
    transition: background-color 200ms;

    &:hover, &:focus, &:active {
        background-color: $rhino;
    }

    &__title {
        display: flex;
        align-items: center;
        
        padding: $spacing * 2;
        
        &__text {
            display: block;

            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 0.1rem;

            @at-root .accordion.accordion--right .accordion__title__text {
                flex-grow: 1;
            }

            .icon + &,
            .plus + & {
                margin-left: $spacing;
            }
        }
    }

    &__content {
        padding: 0 $spacing * 2 $spacing * 2;

        font-size: 1.8rem;
        line-height: 1.5;
    }
}