@use 'sass:color';
@use '../abstracts' as *;

.accordion {
    text-align: left;

    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    border-radius: 1rem;
    outline: none;
    
    background-color: $color0;
    box-shadow: $box-shadow-1;

    cursor: pointer;
    transition: background-color $timing-1, color $timing-1;

    &:hover, &:focus, &:active {
        background-color: $color5;
    }

    &__title {
        display: flex;
        align-items: center;
        
        padding: 2rem;
        
        &__text {
            display: block;

            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 0.1rem;

            @at-root .accordion.accordion--right .accordion__title__text {
                flex-grow: 1;
            }

            .icon + &,
            .plus + & {
                margin-left: 1rem;
            }
        }
    }

    &__content {
        padding: 0 2rem 2rem;

        font-size: 1.8rem;
        line-height: 1.5;
    }
}