@use '../_abstracts.scss' as *;

.card {
    padding: $spacing * 2;
    border-radius: 0.5rem;

    background-color: $pickled-bluewood;

    & > a {
        color: $catskill-white;
        text-decoration: none;
    }

    &__footer {
        padding-top: $spacing;
    }
}