.dropdown {
    display: inline-block;
    text-align: center;

    width: 20rem;

    box-shadow: 0.4rem 0.2rem 0.8rem 0.3rem transparentize($color1, 0.6);
    
    ul {
        padding-left: 0;

        li {
            padding: $spacing;

            background-color: $color3;
            color: $color0;

            font-weight: bold;
        
            cursor: pointer;

            &:not(:first-child) {
                border-top: 0.1rem solid $color0;
            }

            &:hover {
                color: darken($color0, 25%);
            }

            &:before {
                display: none;
            }
        }
    }
}