.example {
    &__input {
        border: solid 1px $color3;
        border-radius: 0.5rem;

        line-height: 1.5;
        text-align: center;
    }

    &__text {
        margin-top: $spacing;

        color: $color2;

        font-size: 1rem;
        font-weight: bold;
    }
}