.footer {
    display: table;

    position: fixed;
    bottom: 0;
    left: 0;

    height: 4rem;
    width: 100vw;
    
    background-color: darken($color3, 10%);
    color: $color0;

    &__text {
        display: table-cell;
        vertical-align: middle;
    }
}