.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
    box-sizing: content-box;
    height: 5rem;
    width: 100%;
    border-bottom: solid 1px $color4;

    background-color: $color0;

    line-height: 5rem;

    &__nav {
        display: none;
        
        ul {
            padding-left: 0;
       
            a {
                color: $color2;
    
                font-size: $fontSize-sm;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }

    &__logo {
        text-align: center;

        width: calc(100% - 2.5rem);

        @include breakpoint($breakpoint-sm) {
            text-align: left;
            width: auto;
        }

        &__title {
            color: $color2;
    
            font-size: 2.4rem;
            font-weight: bold;
            text-transform: uppercase;
            
            &:hover {
                color: $color3;
            }
        }
    }
}