.header {
    box-sizing: content-box;
    position: fixed;
    top: 0;
    left: 0;

    height: 5rem;
    width: 100%;
    border-bottom: solid 1px $color4;

    background-color: $color0;

    line-height: 5rem;

    &__nav {
        
        ul {
            padding-left: 0;
       
            a {
                color: $color3;
    
                font-size: $fontSize-sm;
                font-weight: bold;
                text-decoration: none;
            }
        }

    }

    &__logo__title {
        color: $color2;

        font-size: 2.4rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}