.hero {
    position: relative;

    height: 50rem;

    background-image: url('../assets/images/vue.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;

    &__wrapper {
        position: relative;
        height: 100%;
    }

    &__description {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        color: $color0;

        font-size: $fontSize-xxl;
        font-weight: bold;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;

        background-color: $color1;

        opacity: 0.8;
    }
}