.home {
    @include breakpoint($bp-lg) {
        padding-bottom: 0;
    }
    
    &__hero {
        height: 200px;
        width: 100%;

        background-image: url('../assets/images/vue.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}