@use 'sass:color';
@use '../_abstracts.scss' as *;
@use '../_mixins.scss' as *;

.icon {
    display: inline-block;
    vertical-align: middle;

    position: relative;

    @include icon-dimensions(3.6rem);
    
    fill: white;

    svg {
        position: absolute;
        top: 0;
        left: 0;

        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }

    &--search {
        @include icon-dimensions(1.8rem);

        @media (min-width: $tablet) {
            margin-left: $spacing;
        }
    }

    &--carousel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + #{$spacing * 0.1}), -50%);

        @include icon-dimensions(2rem);

        fill: white;

        &--left {
            transform: translate(calc(-50% - #{$spacing * 0.1}), -50%) rotate(180deg);
        }
    }

    &--checkbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        box-sizing: border-box;
        @include icon-dimensions(1.2rem);

        line-height: 1;

        pointer-events: none;

        svg {
            fill: transparent;

            transition: fill 200ms;
        }
    }

    &--email {
        @include icon-dimensions(2rem);
    }
    
    &--visible {
        @include icon-dimensions(2rem);
    }

    &--spinner {
        fill: $radical-red;
    }

    &--accordion {
        transform: rotate(0deg);

        @include icon-dimensions(2.4rem);

        fill: $radical-red;

        transition: transform 500ms, fill 500ms;
        
        .accordion[open] & {
            transform: rotate(180deg);
        }
    }

    &--media {
        @include icon-dimensions(1.8rem);

        transition: transform 500ms, fill 500ms;
    }

    &--center-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + 0.2rem), -50%);
        
        @include icon-dimensions(2.4rem);

        transition: fill 500ms;
    }
    
    &--center-pause {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        @include icon-dimensions(2.4rem);

        transition: fill 500ms;
    }

    &--large {
        @include icon-dimensions(3.6rem);
    }
}