.radio {
    display: inline-block;
    
    position: relative;

    margin-bottom: 1.2rem;
    padding-left: 3.5rem;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    input {
        position: absolute;

        height: 0;
        width: 0;
        
        opacity: 0;
        cursor: pointer;

        &:checked ~ span:after {
            opacity: 1;
        }
    }

    span {
        position: absolute;
        top: 0;
        left: 0;

        height: 2rem;
        width: 2rem;
        border: solid 0.2rem $color3;
        border-radius: 50%;

        &:after {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;

            background-color: $color2;

            opacity: 0;
            transition: opacity 0.5s;
        }
    }
}

.checkbox {
    display: inline-block;
    
    position: relative;

    margin-bottom: 1.2rem;
    padding-left: 3.5rem;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    input {
        position: absolute;

        height: 0;
        width: 0;
        
        opacity: 0;
        cursor: pointer;

        &:checked ~ span:after {
            opacity: 1;
        }
    }

    span {
        position: absolute;
        top: 0;
        left: 0;

        height: 2rem;
        width: 2rem;
        border: solid 0.2rem $color3;

        &:after {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            height: 1.2rem;
            width: 1.2rem;

            background-color: $color2;

            opacity: 0;
            transition: opacity 0.25s;
        }
    }
}

input:not([type="radio"]):not([type="checkbox"]) {
    padding: $spacing;
    border: solid 0.2rem $color3;
    border-radius: 0.85rem;
}