@use '../_abstracts.scss' as *;

label {
    color: $rhino;

    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    transition: color 200ms;

    &.active {
        color: $radical-red;
    }
}