@use '../_abstracts.scss' as *;

.list {
    padding-left: $spacing * 2;

    list-style: none;
}

.list li {
    &:before {
        display: inline-block;
        vertical-align: middle;

        width: 1rem;
        margin-right: 0.5rem;

        font-weight: bold;
    }

    &:not(:first-of-type) {
        margin-top: $spacing * 0.75;
    }
}

.list--ordered {
    counter-reset: li;
}

.list--ordered li {
    &:before {
        display: inline;
        direction: rtl;
        content: '' counter(li) '.';
        counter-increment: li;
        text-align: right;

        margin-left: -1.75rem;

        color: $list-color;

        font-size: 1.4rem;
        font-weight: bold;
    }
}

.list--unordered li:before {
    content: '\2022';
            
    height: 100%;
    margin-left: -2rem;
    
    color: $list-color;

    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}