@use '../_abstracts.scss' as *;

.list {
    padding-left: $spacing * 2;
}

.list li {
    list-style: none;

    &:before {
        display: inline-block;
        vertical-align: middle;

        width: 1rem;
        margin-right: 0.5rem;

        font-weight: bold;
    }

    &:not(:first-of-type) {
        margin-top: $spacing * 0.75;
    }
}

.list--ordered {
    counter-reset: li;

    &:before {
        content: '.' counter(li);
        counter-increment: li;
        text-align: right;

        margin-left: -1.75rem;

        direction: rtl;
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.list--unordered li:before {
    content: '\2022';
            
    height: 100%;
    margin-left: -2rem;
    
    color: $color-1;

    font-size: 2rem;
    font-weight: bold;
}