@use 'sass:color';
@use '../_abstracts.scss' as *;

.nav.nav--header {
    height: 100%;
}

.nav.nav--header > .nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    padding-left: 0;

    list-style: none;
}

.nav.nav--header .nav__item {
    display: flex;

    &:nth-child(2) {
        display: none;
    }
}

.nav.nav--header .nav__item > a {
    display: block;

    height: 100%;
    padding: 0 $spacing * 1.5;

    font-size: 1.4rem;
    white-space: nowrap;
    line-height: 4rem;

    &.active {
        background-color: color.scale($color-2, $lightness: -20%);
    }
}

.nav.nav.nav--header--bottom {
    flex-grow: 1;
    text-align: right;
}

.nav.nav.nav--header--bottom .nav__item > a {
    height: 8rem;
    padding: 0 $spacing * 3;

    line-height: 8rem;
}

@media (min-width: $breakpoint-desktop) {
    .nav.nav--header .nav__item:nth-child(2) {
        display: block;
    }
}