@use 'sass:color';
@use '../abstracts' as *;

.nav {
    position: absolute;
    top: 100%;
    right: 0;

    overflow: hidden;
    width: 100%;
    max-height: 0;

    transition: max-height $timing-2;

    &__item {
        width: 100%;
    }

    &__link {
        display: block;
        text-align: center;
        
        padding: 2rem;
        
        background-color: $color8;
        color: $color0;
        
        font-weight: 600;
        text-transform: uppercase;

        transition: color $timing-2;

        .nav__item:not(:last-child) & {
            border-bottom: solid 0.1rem $color5;
        }

        &:hover {
            color: $color2;

            text-decoration: none;
        }
    }

    &.active {
        max-height: 11.3rem;
    }

    @media (min-width: $tablet) {
        position: static;
        max-height: 7.2rem;
        width: auto;

        transition: none;

        &__item {
            width: auto;
        }

        &__link {
            background-color: transparent;
            color: $color3;
        }
    }
}