@use 'sass:color';
@use '../_abstracts.scss' as *;

.nav.nav--header {
    height: 100%;
}

.nav.nav--header > .nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    padding-left: 0;

    list-style: none;
}

.nav.nav--header.nav--header--top .nav__item:nth-child(2) {
    display: none;
}

.nav.nav--header .nav__item > a {
    display: block;

    height: 100%;
    padding: 0 $spacing * 1.5;

    font-size: 1.4rem;
    white-space: nowrap;
    line-height: 4rem;

    &.active {
        background-color: color.scale($color-2, $lightness: -20%);
    }
}

.nav.nav--header.nav--header--bottom {
    position: relative;
}

.nav.nav--header.nav--header--bottom .nav__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    top: $spacing * 12;
    left: 0;
    z-index: 2;

    overflow: hidden;
    max-height: 0;
    width: 100%;

    background-color: $color-5;

    transition: max-height 500ms;

    &.active {
        max-height: calc(100vh - 12rem);
    }
}

.nav.nav--header.nav--header--bottom .nav__item {
    text-align: center;

    width: 100%;
}

.nav.nav--header.nav--header--bottom .nav__item > a {
    height: auto;
    padding: 0 $spacing * 3;
}

@media (min-width: $breakpoint-desktop) {
    .nav.nav--header.nav--header--top .nav__item:nth-child(2) {
        display: block;
    }

    .nav.nav--header.nav--header--bottom .nav__list {
        flex-direction: row;

        position: static;

        max-height: 8rem;

        background-color: transparent;
        
        &.active {
            max-height: 8rem;
        }
    }

    .nav.nav--header.nav--header--bottom .nav__item a {
        line-height: 8rem;
    }
}