@use '../_abstracts.scss' as *;

.radio {
    display: block;

    position: relative;

    margin-top: 2.5rem;

    cursor: pointer;
}

.radio__circle {
    display: inline-block;
    vertical-align: middle;

    position: relative;

    padding: 0.9rem;
    border: solid 0.2rem $color2;
    border-radius: 50%;

    &:after {
        content: '';
        display: block;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 0.6rem;
        border-radius: 50%;

        background-color: $color2;
        
        opacity: 0;
        transition: opacity $timing-2;
    }
}

.radio__text {
    display: inline-block;
    vertical-align: middle;
    
    margin-left: 1rem;

    color: $color1;

    font-size: 1.6rem;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0.025rem;

    user-select: none;
}