.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    height: 100vh;
    width: 100vw;

    background-color: transparentize($color1, 0.6);

    pointer-events: none;
    opacity: 0;

    transition: opacity 0.5s;

    &.active {
        pointer-events: all;
        opacity: 1;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);

        height: 100%;
        width: 32rem;

        background-color: $color0;
        transition: transform 0.5s;

        .sidebar.active & {
            transform: translate(0);
        }

        &__top {
            position: relative;

            height: 5rem;
            border-bottom: solid 1px $color4;

            button {
                top: 50%;
                transform: translateY(-50%) rotate(0);
                right: $spacing;
                
                &:hover {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        &__nav {
            padding-left: 0;

            list-style: none;

            li {
                margin-top: 0;
                border-bottom: solid 1px $color4;

                &:not(:first-child) {
                    margin-top: 0;
                }

                &:before {
                    display: none;
                }

                a {
                    display: block;

                    height: 100%;
                    width: 100%;
                    padding: $spacing $spacing * 2;

                    background: linear-gradient(to right, $color3 50%, $color0 50%);
                    background-size: 200% 100%;
                    background-position: right bottom;
                    color: $color2;
                    
                    font-size: $fontSize-lg;
                    font-weight: bold;
                    text-decoration: none;

                    transition: background-position 0.5s, color 0.5s;

                    &:hover {
                        color: $color0;
                        background-position: left bottom;
                    }
                }
            }
        }
    }
}