.skipLink {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    transform: translateY(-100%);

    padding: $spacing;
    
    background-color: $color3;
    color: $color0;

    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;

    transition: transform 0.25s;

    &:focus {
        transform: translateY(0);

        outline: none;
    }
}