@use 'sass:color';
@use '../_abstracts.scss' as *;

.styleguide {
    box-sizing: border-box;
    padding: 4rem 0;
    
    @media (min-width: $tablet) {
        display: flex;
        align-items: flex-start;
    }

    section {
        margin-top: 2rem;
        padding-top: 10rem;

        &:first-child {
            margin-top: 0;
        }
    
        & > h2 {
            margin-bottom: 4rem;
        }
    
        h3 {
            margin-bottom: 3rem;
        }
    
        h4:not(.accordion__title) {
            margin-bottom: 2rem;
        }
    }

    &__sidebar {
        flex: 1;

        position: relative;

        height: 60rem;
        padding-top: 2rem;

        &:after {
            content: '';
            display: block;

            position: sticky;
            bottom: -4rem;
            left: 0;

            width: 100%;
            height: 0;

            box-shadow: 0 0 1rem 1.5rem $color0;
        }

        ul {
            box-sizing: border-box;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            height: 100%;
            padding-bottom: 2rem;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        @media (min-width: $tablet) {
            position: sticky;
            top: 12rem;
    
            height: calc(100vh - 16rem);
            padding-left: 2rem;
            padding-right: 2rem;
            max-height: calc(100vh - 16rem);

            &:after {
                content: '';
                display: block;

                position: sticky;
                bottom: -4rem;
                left: 0;

                width: 100%;
                height: 0;

                box-shadow: 0 0 1rem 1.5rem $color0;
            }

            ul {
                position: absolute;
                top: 0;
                left: 0;
    
                box-sizing: border-box;
                overflow-y: auto;
                overflow-x: hidden;
                width: 100%;
                height: 100%;
                padding-bottom: 2rem;
            }
        }
    }

    &__nav {
        position: relative;

        height: 100%;
    }

    &__content {
        flex: 4;
    }

    &__color {
        display: block;
    
        box-sizing: border-box;
        width: 100%;
        padding: 2rem;
        border-radius: 1rem;

        color: $color0;
        box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem color.adjust($color1, $alpha: -0.8);

        & > span {
            display: block;

            color: $color0;

            letter-spacing: 0.1rem;

            &:first-child {
                margin-bottom: 1rem;

                font-weight: bold;
            }
        }

        &#{&}--invert span {
            color: $color1;
        }
    }
}