@use 'sass:color';
@use '../_abstracts.scss' as *;

.video {
    position: relative;

    overflow: hidden;
    padding-bottom: 56.25%;    

    background-color: $color0;

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;
    }

    &__element {
        display: block;

        width: 100%;

        cursor: pointer;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;

        background-color: color.adjust($color1, $alpha: -0.4);

        opacity: 0;
        transition: opacity $timing-1;

        .video:hover &,
        .video.paused & {
            opacity: 1;
        }
    }

    &__center {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        overflow: hidden;
        max-height: 0;
        
        pointer-events: none;
        transition: max-height 300ms linear;
        
        .video:hover & {
            max-height: 6rem;
            
            pointer-events: all;
        }
    }

    &__controls {
        display: flex;
        align-items: center;

        position: absolute;
        bottom: 0;
        left: 0;
    
        box-sizing: border-box;
        width: 100%;
        padding: 0 2rem 1rem;
    }

    &__track {
        flex-grow: 1;
        display: flex;
        align-items: center;

        padding: 0 2rem;
    }
}