$color-0: white;
$color-1: black;
$color-2: #012542;
$color-3: #e40030;
$color-4: #a0a0a0;
$color-5: #224e72;
$color-6: #444444;
$color-7: #f6f6f6;
$color-8: #00902b;

$colors: ($color-0, $color-1, $color-2, $color-3, $color-4, $color-5, $color-6, $color-7, $color-8);

$list-color: $color-2;