@use '../mixins';
@use '../abstracts' as *;

@include mixins.font-import('Roboto', 'Roboto-Regular.ttf', normal, normal);
@include mixins.font-import('Roboto', 'Roboto-Italic.ttf', normal, italic);
@include mixins.font-import('Roboto', 'Roboto-Bold.ttf', bold, normal);
@include mixins.font-import('Roboto', 'Roboto-BoldItalic.ttf', bold, italic);
@include mixins.font-import('Roboto', 'Roboto-Light.ttf', lighten, normal);
@include mixins.font-import('Roboto', 'Roboto-LightItalic.ttf', lighten, italic);

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $family-1;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 5.4rem;
}

h2 {
    // color: $color-2;

    font-size: 4.2rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.4rem;
}

h6 {
    font-size: 2rem;
}

a {
    color: $color2;
    
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}