@keyframes animate-borders {
    0% {
        border-radius: 0 1rem 1rem 1rem;
    }
    
    25% {
        border-radius: 1rem 0 1rem 1rem;
    }
    
    50% {
        border-radius: 1rem 1rem 0 1rem;
    }
    
    75% {
        border-radius: 1rem 1rem 1rem 0;
    }
}