body {
    font-size: 62.5%;
    text-align: center;
}

main {
    height: 100%;
    
    padding: $spacing;
}

body, li, ul, h1, h2, h3, h4, h5, p, a, button {
    margin: 0;
    padding: 0;
}

a, button {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}