body {
    margin: 0;

    background-color: $backgroundColor3;
}

h1, h2, h3, h4, h5, h6, p, ul, li, input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    padding: 0;
    border: none;

    background: none;
}