* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $color3;
}

main {
    background-color: $color0;
}

h1, h2, h3, h4, h5, h6, p, input {
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: $spacing * 1.5;
}

a {
    font-size: $fontSize-xs;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;

    background: none;
    outline: none;
}

fieldset {
    padding: $spacing * 2;
    border: solid 1px $color1;
    border-radius: 1.5rem;
}

legend {
    font-size: $fontSize-sm;
    font-weight: bold;
}

input {
    padding: $spacing * 0.75 $spacing;
    border: solid 0.1rem $color1;
    border-radius: 1rem;
}