@include fonter('Roboto', 'Roboto-Regular', normal, normal, 'ttf');
@include fonter('Roboto', 'Roboto-Italic', normal, italic, 'ttf');
@include fonter('Roboto', 'Roboto-Bold', bold, normal, 'ttf');
@include fonter('Roboto', 'Roboto-BoldItalic', bold, italic, 'ttf');
@include fonter('Roboto', 'Roboto-Light', lighten, normal, 'ttf');
@include fonter('Roboto', 'Roboto-LightItalic', lighten, italic, 'ttf');

html {
    font-size: $defaultSize;
}

body {
    color: $color2;

    font-family: $fontFamily1;
}

h1 {
    color: $color2;
    font-size: $fontSize-xxl;
    font-family: $fontFamily1;
    font-weight: bold;
    line-height: 1;
}

h2 {
    color: $color2;
    font-size: $fontSize-xl;
    font-family: $fontFamily1;
    font-weight: bold;
    line-height: 1;
}

h3 {
    color: $color2;
    font-size: $fontSize-lg;
    font-family: $fontFamily1;
    font-weight: bold;
    line-height: 1;
}

h4, label {
    color: $color2;
    font-size: $fontSize-md;
    font-family: $fontFamily1;
    font-weight: bold;
    line-height: 1;
}

h5 {
    color: $color2;
    font-size: $fontSize-sm;
    font-family: $fontFamily1;
    font-weight: bold;
    line-height: 1;
}

h6 {
    color: $color2;
    font-size: $fontSize-xs;
    font-family: $fontFamily1;
    font-weight: bold;
    line-height: 1;
}


p, span, li {
    color: $color5;

    font-size: $fontSize-sm;
    line-height: 1.5;
}