@include fonter('Roboto', 'Roboto-Regular', normal, normal, 'ttf');
@include fonter('Roboto', 'Roboto-Italic', normal, italic, 'ttf');
@include fonter('Roboto', 'Roboto-Bold', bold, normal, 'ttf');
@include fonter('Roboto', 'Roboto-BoldItalic', bold, italic, 'ttf');
@include fonter('Roboto', 'Roboto-Light', lighten, normal, 'ttf');
@include fonter('Roboto', 'Roboto-LightItalic', lighten, italic, 'ttf');

html {
    font-size: $defaultSize;
}

body {
    font-family: $fontFamily1;
}

h1 {
    font-size: $fontSize-xxl;
}

h2 {
    font-size: $fontSize-xl;
}

h3 {
    font-size: $fontSize-lg;
}

h4 {
    font-size: $fontSize-md;
}

h5 {
    font-size: $fontSize-sm;
}

h6 {
    font-size: $fontSize-xs;
}