$utilities: (
    // DISPLAY & ALIGNMENT
    block: (
        display: block
    ),

    inline-block: (
        display: inline-block
    ),

    align-middle: (
        vertical-align: middle
    ),

    hide: (
        display: none
    ),

    show-inline: (
        display: inline-block
    ),

    text-center: (
        text-align: center
    ),

    text-right: (
        text-align: right
    ),

    // POSITIONING
    relative: (
        position: relative,
    ),

    // BOX MODEL
    h-100: (
        height: 100%
    ),

    w-100: (
        width: 100%
    ),

    w-50: (
        width: 50%
    ),

    m: (
        margin: $spacing
    ),

    p: (
        padding: $spacing
    ),
    
    // BACKGROUNDS & COLOURS
    background-3: (
        background-color: $color3
    ),

    highlight-0: (
        color: $color0
    ),
    
    highlight-3: (
        color: $color2
    )

    // TYPOGRAPHY

    // MISC
);

$utilityConfig: (
    // DISPLAY & ALIGNMENT
    block: (
        breakpoints: true
    ),

    inline-block: (
        breakpoints: true
    ),

    text-center: (
        breakpoints: true
    ),

    align-middle: (
        breakpoints: true
    ),

    show-inline: (
        breakpoints: true
    ),

    hide: (
        breakpoints: true
    ),
   
    text-right: (
        breakpoints: true
    ),

    // POSITIONING

    // BOX MODEL
    w-100: (
        breakpoints: true
    ),

    w-50: (
        breakpoints: true
    ),

    m: (
        breakpoints: true,
        directions: true,
        dives: true,
        increments: true
    ),

    p: (
        breakpoints: true,
        directions: true,
        dives: true,
        increments: true
    ),

    // BACKGROUNDS & COLOURS

    // TYPOGRAPHY

    // MISC
);