$classes: (
    centerX: (
        left: 50%,
        transform: translateX(-50%)
    ),
    centerY: (
        top: 50%,
        transform: translateY(-50%)
    ),
    margin: (
        margin: $spacing
    )
);

$classConfig: (
    margin: (
        directions: true,
        breakpoints: true,
        levels: true
    )
);