// BOX MODEL
$spacing: 1rem;

$iconSize1: 3.6rem;
$iconSize2: 4.5rem;

// BACKGROUNDS & COLOURS
$color0: #fff;
$color1: #000;
$color2: #ce1616;
$color3: #a52e2e;
$color4: #efefef;
$color5: #333;
$color6: #470202;

$iconFill1: $color3;
$iconFill1--active: $color2;

// TYPOGRAPHY
$defaultSize: 10px;
$fontFamily1: 'Roboto';

$fontSize-xs: $defaultSize * 1.2;
$fontSize-sm: $defaultSize * 1.4;
$fontSize-md: $defaultSize * 1.6;
$fontSize-lg: $defaultSize * 1.8;
$fontSize-xl: $defaultSize * 2.4;
$fontSize-xxl: $defaultSize * 3.2;

// MISC
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;